.mbox {
  max-width: 700px;
  margin: 0 auto;
}

.forms {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}

.form {
  margin-right: 35px;
}

.list {
  padding-left: 0;
  width: 450px;
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding-right: 80px;
  min-height: 21px;
  /* position: relative; */
}

.item-text {
  /* display: block; */
  margin-right: 10px;
  cursor: pointer;
  line-height: 21px;
}

.item-text.done {
  text-decoration: line-through;
  font-style: italic;
}

.item-remove {
  margin-right: 15px;
  /* position: absolute; */
  /* right: 0;
  top: 0; */
  height: 21px;
}
